@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: /*url("../assets/img/bg.jpg")*/ center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 90px 120px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 60px;
  list-style: none;
  font-size: 60px;
  opacity: .6;
  cursor: pointer;
  transition: .3s;
}
.play-item.active {
  opacity: 1;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote,
.setting-btn {
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.setting-btn:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.setting-btn:hover {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 430px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 35px;
}

.weather-icon {
  font-size: 200px;
}

.temperature {
  font-size: 50px;
}

.weather-description {
  font-size: 50px;
}

.city {
  width: 470px;
  height: 70px;
  padding: 5px;
  font-size: 50px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 50px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 350px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 200px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
  font-size: 100px;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 100px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.setting-btn {
  margin: 140px 140px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../assets/svg/settings.svg");
}

.settings {
  margin: 0 0 290px 250px;
  padding: 30px 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1000px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  transition: height 0.1s, opacity 0.3s;

  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.settings.active {
  height: 1000px;
  width: 800px;
  opacity: 1;
  visibility: visible;
}

.setting-pair {
  padding-bottom: 11px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-bottom: solid 0.1px rgba(255, 255, 255, 0.3);
}

.display-element {
  margin-left: 40px;
  font-size: 60px;
}

input[type="checkbox"] {
  aspect-ratio: 1;
  width: 50px;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: #fff;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
  transition: transform 1s ease;
}
.change-quote.click{
  transform: rotate(360deg);
}

.quote {
  margin: 0 auto;
  max-width: 70%;
  min-height: 135px;
  font-size: 100px;
  font-style: italic;
  transition: 0.5s;
}

.author {
  min-height: 90px;
  font-size: 50px;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}